/* 

.link:link,
.link:visited {
    text-decoration: none;
    color: inherit;
} */

/* .wrapper {
    background: #f4f1e0;
    height: 100%;
}

.product-card:link,
.product-card:visited {
    text-decoration: inherit;
    color: inherit;
}

@media (min-width: 60em) {
    .product-card:first-child {
        grid-row: span 2;
        grid-column: span 2;
    }
} */

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 250ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}
