.product-wrapper {
    padding: 16px;
    font-size: 2rem;
    background: #f4f1e0;
}

.link:link,
.link:visited {
    text-decoration: none;
    color: inherit;
}

header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding-bottom: 16px;
    background: #f4f1e0;
    width: 100%;
    padding: 16px;
    padding-right: 32px;
    font-size: 2rem;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.pictures {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

.right-side {
    position: fixed;
    left: 50%;
    top: 70px;
}
